#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content {
  width: 400px;
  border: 1px solid white;
}

.pic {
  width: 100%;
}

.result {
  width: 400px;
}

.text {
  line-height: 40px;
}

.btn {
  margin-top: 10px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}