#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content {
  width: 400px;
  border: 1px solid white;
  /* background-image:
            url("https://s2.loli.net/2022/11/08/JFNm4CuDzEG8Otd.png"); */
}

.pic {
  width: 100%;
}

.result {
  width: 400px;
}

.text {
  line-height: 40px;
}

.btn {
  margin-top: 10px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}